.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    /* padding: 20px 10px; */
    max-width: 1440px;
    margin: 5rem auto;
}

.processCard {
    padding: 20px;
    border-radius: 8px;
    /* gap: 30px; */
    /* border: 1px solid yellow; */
    overflow: hidden;

}

.iconContainer {
    width: 100%;
    height: 180px;
    margin-bottom: 25px;
    /* border: 1px solid purple; */
}

.icon {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.grid {
    background-image: url('/caseStudy/dataEnginnering.svg');
}

.star {
    background-image: url('/caseStudy/mlEngineering.svg');
}

.wave {
    background-image: url('/caseStudy/comparingExpt.svg');
}

.graph {
    background-image: url('/caseStudy/mlOperations.svg');
}

.processCard h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.processCard p {
    font-size: 18px;
    line-height: 1.05;
}

@media (max-width: 768px) {

    .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        padding: 20px 0;
        margin-bottom: 5rem;
        gap: 0px;
    }

    .mobileContainer {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;

    }


    .processCard {
        flex: 0 0 70%;
        /* width: 100%; */
        scroll-snap-align: center;
        /* scroll-snap-align: start; */
        margin-right: 5%;
    }


    .iconContainer {
        align-self: flex-start;
    }
}

@media (min-width: 2560px) { 
    .processCard p {
        font-size: 20px;
        line-height: 1.2;
    }
}