.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
  overflow: hidden;
  padding: 0 2rem;
}

.logo {
  font-weight: 900;
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  align-self: left;
}



.menu {
  display: flex;
  font-size: 14px;
  line-height: 14px;
  font-weight: 900;
  width: 100%;
  justify-content: space-around;
  font-family: serif;
  width: 100%;
  align-items: center;
  border-left: 1.5px solid rgb(230, 223, 223);
  border-right: 1.5px solid rgb(230, 223, 223);
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  height: 60px;
  max-width: 1440px;
}

.menu a {
  color: #737373;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .01em;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  transition: all .3s ease;
}

.menu a:hover {
  color: black;
  cursor: pointer;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 4px;
  border-radius: 2px;
}


@media (max-width: 768px) {
  .nav {
    border: none;
    padding: 0 1rem;
  }

  .logo {
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .menu.showMenu {
    display: flex;
    z-index: 199;
    position: absolute;
  }

  .menu a {
    margin: 0.5rem 0;
  }

  .hamburger {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: visible;
    z-index: 199;
  }

}