.container {
    min-height: 100vh;
    padding: 0 2rem;
    background-color: black;
    overflow-x: hidden;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    border-left: 0.5px solid rgb(230, 223, 223);
    border-right: 0.5px solid rgb(230, 223, 223);
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
  }
  
  
  .hero {
    margin-top: 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 690px;
    position: relative;
    margin-bottom: 3rem;
    overflow: hidden;
  }
  
  .title {
    line-height: 1;
    letter-spacing: 2px;
    font-size: 125px;
    font-weight: 100;
    bottom: 10%;
    left: 0%;
    position: absolute;
    color: #E6E6E6 !important;
    letter-spacing: 4px;
    z-index: 2;
  
  }
  
  .graphicElement {
    background-image: url('/caseStudies.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 46.25rem;
    height: 39rem;
    z-index: 2;
    position: absolute;
    right: 0%;
    margin-top: 1rem;
  }





  @media (max-width: 768px) {
    .hero {
      margin-top: 0;
      margin-bottom: 0;
      grid-template-columns: 1fr;
      height: 600px;

    }
  
    .container {
      padding-right: 0;
      padding-left: 8px;
  
    }
  
    .title {
      font-size: 4.1rem;
      white-space: normal;
      text-align: left;
      letter-spacing: 1px;
      line-height: 1;
      bottom: 12%;
    }
  
    .graphicElement {
      width: 100%;
      height: 111%;
      background-position: left;
      background-size: cover;
      top: 13%;
    }
  
  }
  
  @media (min-width: 1600px) {
    .title {
      font-size: 152px;
    }
  
    .main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1px;
      width: 100%;
      max-width: 1440px;
      position: relative;
      margin: 0 auto;
      overflow: visible;
    }
  
    .hero {
      height: 95vh;
      overflow: visible;
    }
  
    .graphicElement {
      left: 74%;
      z-index: 1000;
      height: 624px;
      width: 740px;
    }
  }