/* styles/Home.module.css */
.container {
  min-height: 100vh;
  padding: 0 2rem;
  background-color: #fbfbfb;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  border: 1px solid black;
  padding-left: 2%;
  padding-right: 2%;
  /* overflow: hidden; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  /* border: 1px solid yellow; */

}

.logo {
  font-weight: bold;

}

.menu {
  display: flex;
  gap: 1rem;
  width: 76%;
  justify-content: space-around;

}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  margin-bottom: 3rem;
  border: 1px solid red;
}

.title {
  line-height: 1.2;
  font-size: clamp(3rem, 5vw + 2rem, 7rem);
  letter-spacing: 5px;
  font-weight: 350;
  white-space: nowrap;
  /* border:1px solid pink; */

}

.graphicElement {
  background-image: url('/logo.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 92%;
  height: 33%;
  /* border: 2px solid purple; */
  z-index: 1;
  position: absolute;

}

.about,
.caseStudies {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.about h2,
.caseStudies h2 {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.about p {
  font-size: 28px;
  line-height: 1.5;
  color: #333;
}

.caseStudies h3 {
  font-size: 80px;
  font-weight: normal;
  line-height: 1.2;
  color: #000;
  /* border: 1px solid yellow; */

}


/* case stidy pics and title starts */

.caseStudiesSection {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  margin-bottom: 5rem;
  border: 1px solid purple;

}

.caseStudiesList {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 80%;
  padding-top: 28%;
}

.caseStudyTitle {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.caseStudyTitle.active {
  color: #000;
  font-weight: bold;
}

.caseStudyContent {
  display: flex;
  flex-direction: column;
  border : 1px solid blue;
}

.caseStudyContent h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.caseStudyContent p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.caseStudyContent img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* case stidy pics and title ends */













@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .container {
    padding-right: 0;
    padding-left: 0rem;

  }


  .main {
    /* padding-left: 1%; */
    /* padding-right: 1%; */
  }

  .title h1 {
    font-size: 3rem;
    /* white-space: wrap; */
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

  }

  .graphicElement {
    width: 100%;
    height: 45%;
    background-position: center;
    background-size: cover;
  }

  .about,
  .caseStudies {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr ;
  }


  .about p {
    font-size: 24px;
  }

  .caseStudies h3 {
    font-size: 36px;
    font-weight: 350;
  }

/* case stidy pics and title starts */

  .caseStudiesSection {
    grid-template-columns: 1fr;
  }

  .caseStudiesList {
    display: none;
    /* margin-bottom: 2rem; */
  }

  .caseStudyContent h2 {
    font-size: 1.5rem;
  }
/* case stidy pics and title ends */

}