/* styles/Home.module.css */
.container {
  min-height: 100vh;
  padding: 0 2rem;
  background-color: rgb(251, 251, 251);
  background: rgb(251, 251, 251);
  overflow-x: hidden;
  /* max-width: 1440px; */
  /* border: 1px solid green; */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  /* border-left: 1px solid rgb(230, 223, 223); */
  /* border-right: 1px solid rgb(230, 223, 223); */
  /* padding-left: 1%; */
  /* padding-right: 1%; */
  overflow: hidden;
  /* border: 1px solid green; */

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  overflow: hidden;
  z-index: 100;
}

.logo {
  font-weight: 700;
  font-size: 18px;
}

.hero {
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 3rem;
  overflow: hidden;
  /* border: 1px solid red; */
}

.title {
  line-height: 1;
  /* font-size: clamp(4rem, 5vw + 3rem, 8rem); */
  letter-spacing: 2px;
  font-size: 131px;
  font-weight: 100;
  white-space: nowrap;
  bottom: 15%;
  left: 0%;
  position: absolute;
  color: #000000 !important;
  letter-spacing: 4px;
  z-index: 2;
}

.graphicElement {
  background-image: url('/logo.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 46.25rem;
  height: 39rem;
  z-index: 2;
  position: absolute;
  right: 0%;
  /* margin-bottom: 4rem; */
  /* margin-top: 1rem; */
  /* border: 1px solid red; */
  /* bottom: 1%; */


}

.scrollButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 200;
  transform: rotate(90deg);
}

.scrollCircle {
  position: absolute;
  bottom: 7%;
  left: 48.5%;
  background: none;
  cursor: pointer;
  z-index: 200;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* margin: 0 auto; */
}

.scrollButton:hover {
  transform: rotate(90deg) translateX(5px);
}




.contactUsArrow {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.contactUsArrow:hover {
  transform: translateY(10px);
}

.about,
.caseStudies {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  /* border: 1px solid cyan; */
}

.caseStudies {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.about h2,
.caseStudies h2 {
  font-family: sans-serif !important;
  font-size: 14px;
  color: #737373;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1rem;
  /* border: 1px solid cyan; */

  /* letter-spacing: 0.05rem; */
}

.about p {
  /* font-family: display; */
  font-size: 30px;
  line-height: 1.3;
  color: #323131;
  font-weight: 100;
  /* letter-spacing: 0.05rem; */

}

.caseStudies h3 {
  font-size: 84px;
  font-weight: lighter;
  line-height: 1.1;
  color: #000000;
  /* border: 1px solid red; */
  width: 90%;

}

.caseStudies h4 {
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 1.1;
  /* border: 1px solid purple; */
}


/* case stidy pics and title starts */

.caseStudiesSection {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* gap: 2rem; */
  margin-bottom: 2rem;
  /* border: 1px solid cyan; */
  width: 100%;

}

.caseStudiesList {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* padding-top: 50%; */

}

.caseStudyTitle {
  font-family: sans-serif !important;
  font-size: 14px;
  font-weight: 900;
  /* letter-spacing: 0.14px; */
  /* line-height: 2; */
  color: #737373;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
  text-transform: uppercase;
  width: 90%;
}

.caseStudyTitle.active {
  color: #000;
  font-weight: bold;
}

.caseStudyContent {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
}

.caseStudyContent h2 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
  /* text-transform: capitalize; */
  color: black;
}

.caseStudyContent p {
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  width: 67%;
  height: 70px;
  color: black;
  /* border: 1px solid yellow; */
}

.caseStudyContentImg {
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid blue; */
  height: 400px;
  object-fit: contain;
  margin-top: 1rem;
}

.readThisAndServiceButton {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border: none;
}

.readThisButton {
  font-size: 14px;
  background: none;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-style: italic;
}

.readThisButtonArrow {
  margin-left: 8px;
}

.readThisButtonArrow:hover {
  transform: translateX(+50%);
  transition: transform 0.3s ease;

}

.mobileNavigation {
  display: none;
}

/* case stidy pics and title ends */

/* services section satrts  */

.servicesImage {
  margin: 5% 0;
  width: 730px;
  /* height: 550px; */

  object-fit: contain;
  display: flex;
  justify-content: center;
  align-self: center;
  /* border: 1px solid red; */
  left: 12%;
  position: relative;
}


.serviceSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-left: 23%;
  margin-bottom: 0rem;
  /* border: 1px solid red; */
}

.serviceCard {
  background: rgb(251, 251, 251);
  padding: 2rem 2rem;
  padding-top: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.serviceCard2 {
  background: rgb(251, 251, 251);
  padding: 2rem 2rem;
  padding-left: 2.5rem;
  padding-top: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

}

.serviceCard h2,
.serviceCard2 h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #000;
}

.serviceCard p,
.serviceCard2 p {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  /* flex-grow: 1; */
  /* border: 1px solid green; */
  margin-bottom: 1rem;
  width: 100%;
  color: #000;
  /* letter-spacing: 1px; */
}


.serviceButton {
  color: #000000 !important;
  align-self: center;
  background: none;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  transition: transform 0.3s ease;
  align-items: center;
  height: 42px;

}

.ourServicesArrow {
  margin-left: 8px;
}

.ourServicesArrow:hover {
  transform: translateX(+50%);
  transition: transform 0.3s ease;
}



.serviceButton3 {
  color: #000000 !important;
  /* align-self: center; */
  background: none;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  transition: transform 0.3s ease;
  align-items: center;
  height: 42px;
  /* border: 1px solid red; */
  left: 25%;
  position: relative;
  margin-bottom: 1rem;
}

/* .serviceButton:hover .arrow {
  transform: translateX(10px); 
} */



/* services section ends */

.serviceButton2 {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px 18px; */
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background: none;
  font-size: 14px;
  font-weight: 200;
  margin-left: 10%;
  width: 50%;
  color: #000000;
  align-self: center;
  height: 42px;
}

/* challenges section starts */
.challenges {
  margin-bottom: 5rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  /* border: 1px solid rebeccapurple; */
}

.challenges p {
  margin: 2rem 0rem;
  width: 70%;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.1;
  color: #000000;
}

.challenges h3 {
  font-size: 56px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.1;
  color: #000;
  width: 70%;

}

.contactUsButton {
  align-self: flex-start;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  color: #000000 !important;
  font-style: italic;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: none;
  background: none;
  height: 42px;
  transition: transform 0.3s ease;
}

.contactUsArrow {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 200;
  transform: rotate(90deg);
  margin-left: 8px;
}

.contactUsArrow:hover {
  transform: rotate(90deg) translateX(5px);
}

/* challenges section ends */

/* team */

.team {
  margin-bottom: 5rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.team p {
  margin: 0.5rem 0rem;
  width: 68%;
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.3;
  letter-spacing: 0.05rem;
  color: #000000;

}

.team h3 {
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #000;
  width: 70%;
  margin-bottom: 2rem;
  font-weight: 100;
  line-height: 1;

}

/* our approcah starst */

.ourApproach {
  margin-top: 5rem;
  margin-bottom: 3rem;
  background: rgb(251, 251, 251);

}

.containerStrength {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sideHeading {
  font-family: sans-serif !important;
  font-size: 14px;
  color: #737373;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1rem;
  /* letter-spacing: 0.05rem; */

}

.content {
  display: grid;
  gap: 1rem;
}

.mainHeading {
  margin-bottom: 2rem;
  font-size: 58px;
  font-weight: 100;
  line-height: 1;
  color: #000000;
}

.subHeading {
  font-size: 58px;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 1rem;
  color: #000000;
}

.content p {
  width: 68%;
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.3;
  padding-top: 0.5rem;
  letter-spacing: 0.05rem;
  color: #000000;

}


.mainContent {
  position: relative;
  min-height: 100vh;
}

/* testiomial css start */

/* testiomial css end */








@media (max-width: 768px) {
  .hero {
    margin-top: 0;
    margin-bottom: 0;
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .container {
    padding-right: 0;
    padding-left: 8px;

  }

  .about h2,
  .caseStudies h2 {
    font-family: sans-serif;
    font-size: 12px;
    color: #737373;
    font-weight: 900;
  }

  .caseStudies h3 {
    font-family: serif;
    font-size: 10px;
    color: #000000;
    font-weight: 900;
    width: 100%;
  }

  .serviceCard h2,
  .serviceCard2 h2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 1rem;
    color: #000;
  }


  .scrollButton {
    display: none;

  }

  .scrollCircle {
    display: none;

  }


  .title {
    font-size: 68px;
    white-space: normal;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1;
    bottom: 18%;
  }

  .graphicElement {
    width: 100%;
    height: 85%;
    background-position: center;
    background-size: cover;
  }

  .about,
  .caseStudies {
    margin-bottom: 0rem;
    /* margin-top: 5rem; */
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid red; */
  }

  .caseStudies {
    margin-bottom: 2.5rem;
  }


  .about p {
    font-size: 24px;
  }

  .caseStudies h3 {
    font-size: 44px;
    font-weight: 350;
    letter-spacing: 0;
    line-height: normal;
  }

  /* case stidy pics and title starts */

  .caseStudiesSection {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 3rem;

  }

  .caseStudiesList {
    display: none;
    /* margin-bottom: 2rem; */
  }

  .caseStudyContent h2 {
    font-size: 1.5rem;
    letter-spacing: normal;
    line-height: normal;
  }

  .caseStudyContent p {
    font-size: 20px;
    font-weight: 350;
    line-height: normal;
    height: 90px;
    width: 100%;
  }

  .readThisButton {
    display: none;
  }

  .readThisButtonArrow {
    display: none;
  }

  .serviceButton {
    align-self: center;
    margin-left: 0;
  }

  /* case stidy pics and title ends */

  .serviceSection {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(0px, 1fr)); */

    margin-left: 0%;
    text-align: left;
    /* border: 1px solid red; */
  }

  .whatWeDoText {
    font-size: 65px;
    font-weight: lighter;
    letter-spacing: -3px;
    line-height: 1.1;
  }

  .serviceCard {
    padding-left: 0;
    padding: 0;
  }

  .serviceButton2 {
    font-size: 15px;
    width: 100%;
    margin-left: 0px;
    align-self: flex-start;
    margin-left: 0%;
    width: 35%;
    /* padding: 8px 6px; */
    margin: 2rem 0;
  }

  .serviceButton3 {
    left: 0;
    margin: 2.5rem 0;

  }

  .serviceCard2 {
    padding-left: 0;
    padding: 0;
  }

  .readThisAndServiceButton {
    justify-content: center;
    padding: 3rem 0;
  }


  .serviceCard p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    /* flex-grow: 1; */
    /* margin-bottom: 1rem; */
  }

  /* challenge starts */

  .ourApproach {
    margin-bottom: 5rem;
  }

  .challenges h3 {
    font-size: 30px;
    letter-spacing: normal;
    width: 100%;


  }

  .challenges {
    grid-template-columns: 1fr;
    margin-top: 1rem;

  }

  .challenges p {
    margin: 1.5rem 0rem;
    width: 100%;
    font-size: 20px;
  }


  .contactUsButton {
    margin: 0 0;
    margin-top: 0rem;
  }

  /*  challenge ends */


  .team h3 {
    font-size: 30px;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 1rem;


  }

  .team {
    grid-template-columns: 1fr;
    margin-bottom: 0rem;
    margin-top: 0rem;
    /* border: 1px solid red; */
  }

  .team p {
    margin: 0.5rem 0rem;
    margin-bottom: 0;
    width: 100%;
    font-size: 20px;
    color: #000000;
    line-height: 1.2;
  }

  /* our strength starts  */
  .containerStrength {
    grid-template-columns: 1fr;
  }

  .sideHeading {
    font-size: 12px;
    font-family: sans-serif !important;
    font-weight: 900;
    color: #737373;

  }

  .mainHeading {
    font-size: 30px;
    width: 100%;
    margin-bottom: 3rem;

  }

  .content p {
    width: 100%;
    font-size: 20px;
  }

  .subHeading {
    font-size: 30px;
    margin-bottom: 0;
  }



  .caseStudies h4 {
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0px;
  }

  .servicesImage {
    width: 100%;
    margin: 3rem 0;
    height: 100%;
    left: 0;
  }

  .mobileNavigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .caseStudyContentImg {
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin-bottom: 1rem;
    margin-top: 0rem;
    order: -1;
  }

  .leftArrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .rotatedArrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .leftArrow:hover .rotatedArrow {
    transform: rotate(180deg) translateX(5px);
  }


  .rightArrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .rightRotatedArrow {
    transition: transform 0.3s ease;
  }

  .rightArrow:hover .rightRotatedArrow {
    transform: translateX(5px);
  }

  /* our strength ends */
}

@media (min-width: 2560px) {
  .title {
    font-size: 152px;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    width: 100%;
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    overflow: visible;
  }

  .hero {
    height: 100vh;
    overflow: visible;
  }

  .graphicElement {
    left: 74%;
    z-index: 1000;
    height: 624px;
    width: 740px;
  }

  .about h2,
  .caseStudies h2 {
    font-size: 14px;
  }

  .caseStudyContentImg {
    width: 100%;
    object-fit: none;
    margin-top: 1rem;
  }

  .serviceCard h2,
  .serviceCard2 h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: #000;
  }

  .serviceButton3 {
    align-items: normal;
  }

  .servicesImage {
  left: 18%;

  }

}

@media (min-width: 1440px) and (max-width: 2560px) {

  .title {
    font-size: 143px;
    /* letter-spacing: 2px; */
    line-height: 1;
  }

  .main {
    /* max-width: 1440px; */
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
  }

}


/* @media (min-width: 1024px) {
  .serviceSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-left: 22%;
    margin-bottom: 2rem;
  }

  .serviceCard {
    background-color: white;
    padding: 2rem 1.5rem;
    padding-top: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

  }

  .serviceCard2 {
    background-color: white;
    padding: 2rem 1.5rem;
    padding-left: 2.5rem;
    padding-top: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

  }

  .serviceCard h2,
  .serviceCard2 h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;
  }

  .serviceCard p,
  .serviceCard2 p {
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    margin-bottom: 1rem;
    width: 100%;
    color: #000;

  }

  .serviceButton2 {
    width: 70%;

  }

} */