/* styles/Home.module.css */
.container {
  min-height: 100vh;
  padding: 0 2rem;
  background-color: #fbfbfb;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  border: 1px solid black;
  border-bottom: none;
  padding-left: 2%;
  padding-right: 2%;
  /* overflow: hidden; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  /* border: 1px solid yellow; */

}

.logo {
  font-weight: bold;

}

.menu {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  width: 76%;
  justify-content: space-around;


}

.menu a {
  color: #737373;
  text-decoration: none;
}

.menu a:hover {
  color: black;
  cursor: pointer;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  margin-bottom: 3rem;
  /* border: 1px solid red; */
}

.title {
  line-height: 1.2;
  font-size: clamp(4rem, 5vw + 3rem, 8rem);
  letter-spacing: 5px;
  font-weight: 350;
  white-space: nowrap;
  font-family: serif;

}

.graphicElement {
  background-image: url('/logo.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 92%;
  height: 10%;
  z-index: 1;
  position: absolute;
}

.about,
.caseStudies {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.about h2,
.caseStudies h2 {
  font-size: 14px;
  color: #737373;
  font-weight: 700;
  line-height: 15.4px;
  margin-bottom: 1rem;
}

.about p {
  font-size: 28px;
  line-height: 39.2px;
  font-weight: 350;
  line-height: 1.5;
  color: #000000;
  font-weight: 350;
}

.caseStudies h3 {
  font-size: 80px;
  font-weight: 350;
  line-height: 88px;
  letter-spacing: -3px;
  color: #000000;

}


/* case stidy pics and title starts */

.caseStudiesSection {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  margin-bottom: 5rem;

}

.caseStudiesList {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 28%;
}

.caseStudyTitle {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.14px;
  line-height: 15.4px;
  color: #666;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.caseStudyTitle.active {
  color: #000;
  font-weight: bold;
}

.caseStudyContent {
  display: flex;
  flex-direction: column;
}

.caseStudyContent h2 {
  font-size: 36px;
  font-weight: 350;
  letter-spacing: -1px;
  line-height: 39.6px;
  margin-bottom: 1rem;
}

.caseStudyContent p {
  font-size: 20px;
  font-weight: 350;
  line-height: 30px;
  margin-bottom: 1rem;
  width: 60%;
}

.caseStudyContent img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 1rem;

}

/* case stidy pics and title ends */

/* services section satrts  */

.servicesImage {
  margin-top: 8%;
  width: 100%;
  height: 60%;
  /* object-fit: cover; */
  display: flex;
  justify-content: center;
}

.serviceSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-left: 25%;
  margin-bottom: 2rem;
}

.serviceCard {
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.serviceCard h2 {
  font-size: 33px;
  font-weight: 500;
  line-height: 39.6px;
  margin-bottom: 1rem;
}

.serviceCard p {
  font-size: 16px;
  font-weight: 350;
  line-height: 24px;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.serviceButton {
  align-self: flex-start;
  background: none;
  border: 1px solid #000;
  /* padding: 0.5rem 1rem; */
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  font-style: italic;
  font-weight: 350;
  line-height: 20px;
}


/* services section ends */


/* challenges section starts */
.challenges {
  margin-bottom: 5rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.challenges p {
  margin: 3rem 0rem;
  width: 70%;
  font-size: 26px;
  font-weight: 350;
  line-height: 30px;

}

.challenges h3 {
  font-size: 76px;
  font-weight: normal;
  letter-spacing: -3px;
  line-height: 59.4px;
  color: #000;
  width: 70%;

}

.contactUsButton {
  margin: 2rem 0;
  align-self: flex-start;
  background: none;
  border: 1px solid #000;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  font-style: italic;
  font-weight: 350;
  line-height: 20px;
}

/* challenges section ends */

/* team */

.team {
  margin-bottom: 5rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.team p {
  margin: 1rem 0rem;
  width: 70%;
  font-size: 26px;
  font-weight: 350;
  line-height: 30px;

}

.team h3 {
  font-size: 76px;
  font-weight: normal;
  letter-spacing: -3px;
  color: #000;
  width: 70%;
  margin-bottom: 1rem;

}

/* our approcah starst */

.ourApproach {
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* border: 1px solid black; */
  background-color: #f8f8f8;

}

.containerStrength {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sideHeading {
  font-size: 1rem;
  font-weight: bold;
  color: #888;
}

.content {
  display: grid;
  gap: 1rem;
}

.mainHeading {
  margin-bottom: 1rem;
  font-size: 54px;
  font-weight: 350;
  line-height: 59.4px;
}

.subHeading {
  font-size: 54px;
  font-weight: 350;
  line-height: 59.4px;
  margin-bottom: 1rem;
}

.content p {
  width: 70%;
  font-size: 20px;
  font-weight: 350;
  line-height: 30px;
}



/* testiomial css start */

/* testiomial css end */











@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .container {
    padding-right: 0;
    padding-left: 0rem;

  }

  .title {
    font-size: 3.5rem;
    /* white-space: wrap; */
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

  }

  .graphicElement {
    width: 100%;
    height: 10%;
    background-position: center;
    background-size: cover;
  }

  .about,
  .caseStudies {
    margin-bottom: 5rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
  }


  .about p {
    font-size: 24px;
  }

  .caseStudies h3 {
    font-size: 36px;
    font-weight: 350;
  }

  /* case stidy pics and title starts */

  .caseStudiesSection {
    grid-template-columns: 1fr;
  }

  .caseStudiesList {
    display: none;
    /* margin-bottom: 2rem; */
  }

  .caseStudyContent h2 {
    font-size: 1.5rem;
  }

  /* case stidy pics and title ends */

  .serviceSection {
    grid-template-columns: 1fr;
    margin-left: 0;
    text-align: left;
  }

  .whatWeDoText {
    font-size: 53px;
    font-weight: 350;
    letter-spacing: -3px;
    line-height: 59.4px;
  }

  .serviceCard {
    padding-left: 0;

  }

  /* challenge starts */
  .challenges h3 {
    font-size: 30px;
    letter-spacing: normal;
    width: 100%;


  }

  .challenges {
    grid-template-columns: 1fr;
  }

  .challenges p {
    margin: 1rem 0rem;
    width: 100%;
  }


  .contactUsButton {
    margin: 0 0;
  }

  /*  challenge ends */


  .team h3 {
    font-size: 30px;
    letter-spacing: normal;

  }

  .team {
    grid-template-columns: 1fr;
  }

  .team p {
    margin: 1rem 0rem;
    width: 100%;
  }

  /* our strength starts  */
  .containerStrength {
    grid-template-columns: 1fr;
  }

  .sideHeading {
    font-size: 1rem;
    font-weight: bold;
    color: #888;
    margin-bottom: 1rem;

  }

  .mainHeading {
    font-size: 2rem;
    width: 100%;

  }

  .content p {
    width: 100%;
  }

  .subHeading {
    font-size: 2rem;
  }

  /* our strength ends */
}