.container {
    min-height: 100vh;
    padding: 0 2rem;
    background-color: rgb(251, 251, 251);
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    /* border-left: 0.5px solid rgb(230, 223, 223); */
    /* border-right: 0.5px solid rgb(230, 223, 223); */
    /* padding-left: 1%; */
    /* padding-right: 1%; */
    overflow: hidden;
}


.hero {
    margin-top: 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 3rem;
    overflow: hidden;
}

.title {
    line-height: 1;
    font-size: 142px;
    font-weight: 100;
    bottom: 9%;
    left: 0%;
    position: absolute;
    color: #000000 !important;
    letter-spacing: 1.5px;
    z-index: 2;

}

.graphicElement {
    /* background-image: url('/services.svg'); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: contain;
    width: 66rem;
    height: 39rem;
    z-index: 2;
    position: absolute;
    right: 0%;
    margin-top: 1rem;
    /* border: 1px solid red; */
}


@keyframes drawPath {
    0% {
      stroke-dashoffset: 500;
    }
    100% {
      stroke-dashoffset: 20;
    }
  }
  
  @keyframes movePoint {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(100px, 100px);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      fill: #000;
    }
    /* 50% {
      transform: scale(1.5);
      fill: #FF0000;
    } */
  }
  
  .animationPath {
    animation: drawPath 4s infinite;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
  }
  
  .animationPathS1 {
    animation-delay: 1s;
  }
  
  .animationPathS2 {
    animation-delay: 2s;
  }
  
  .animationPoint {
    animation: pulse 2s infinite;
  }



/* about section */

.about {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

.about h2 {
    font-size: 16px;
    color: #737373;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
    font-weight: lighter;

}

.content p {
    font-size: 29px;
    line-height: 1.3;
    color: #000000;
    font-weight: lighter;
    overflow-wrap: break-word;
    letter-spacing: 0.05rem;
    font-weight: 400;

}

.content {
    display: grid;
    gap: 1rem;
}

.areas {
    display: grid;
    gap: 1rem;
    /* border: 1px solid red; */
    margin: 3rem 0;

}

.area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 1rem;
    /* border: 1px solid gold; */
    width: 75%;
    gap: 1;
}

.area h3 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.06rem;
}

.scrollButton {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: rotate(90deg);

    /* z-index: 200; */
}

.scrollButton:hover {
    transform: rotate(90deg) translateX(5px);
}

.scrollCircle {
    cursor: pointer;
    /* z-index: 200; */
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

}


.threeCircles {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-self: center;
    /* height: 440.625px; */
    height: 100%;
    width: 100%;
    /* width: 668.889px; */
}

.servicesImage {
    width: 51%;
}

.machineLearning {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 8rem 0;
    /* border: 1px solid red; */
    width: 50%;
}

.machineLearning h2 {
    font-size: 90px;
    white-space: nowrap;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 4px;
    /* border: 1px solid red; */

}

.machineLearning p {
    font-size: 21px;
    letter-spacing: 0.05rem;
    font-weight: 400;
    line-height: 30px;
    padding: 1rem 0;
    word-break: normal;
}

.workflow {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.workflow h2 {
    font-size: 16px;
    color: #737373;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
    font-weight: lighter;
}

.workflow p {
    font-size: 22px;
    width: 68%;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 30px;
    word-break: normal;
}


@media (max-width: 768px) {
    .hero {
        margin-top: 0;
        margin-bottom: 0;
        grid-template-columns: 1fr;
        height: 100vh;

    }

    .container {
        padding-right: 0;
        padding-left: 8px;

    }

    .title {
        font-size: 58px;
        white-space: normal;
        text-align: left;
        letter-spacing: 1px;
        line-height: 1;
        bottom: 12%;
        /* left: 0%; */
    }

    .graphicElement {
        width: 100%;
        height: 75%;
        background-position: center;
        background-size: cover;
        /* top: 13%; */
        /* border: 1px solid red; */

    }

    .about {
        grid-template-columns: 1fr;
        margin-bottom: 1rem;

    }

    .about h2 {
        font-size: 12px;
        color: #737373;
        font-weight: 900;
    }

    .content p {
        font-size: 26px;
        font-weight: 400;
    }

    .area {
        width: 100%;
    }

    .area h3 {
        font-size: 26px;

    }

    .servicesImage {
        width: 100%;
    }

    .machineLearning {
        /* border: 1px solid red; */
        width: 100%;
    }

    .machineLearning h2 {
        font-size: 30px;
        line-height: normal;

    }

    .machineLearning p {
        padding: 0;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28px;


    }

    .workflow {
        grid-template-columns: 1fr;
    }

    .worflow h2 {
        font-size: 12px;

    }

    .workflow p {
        font-size: 20px;
        width: 100%;
        letter-spacing: 0px;
        font-weight: 100;
        line-height: 25px;
        word-break: normal;
    }

}

/* @media (min-width: 1440px) and (max-width : 2560px) {
    .title {
        font-size: 120px;
        width: 100%;

    }

    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1px;
        width: 100%;
        max-width: 1440px;
        position: relative;
        margin: 0 auto;
        overflow: visible;
    }

    .hero {
        height:100vh;
        overflow: visible;
    }

    .graphicElement {
        left: 74%;
        z-index: 1000;
        height: 624px;
        width: 740px;
    }
} */

@media (min-width: 2560px) {
    .title {
        font-size: 140px;
        bottom: 16%;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1px;
        width: 100%;
        max-width: 1440px;
        position: relative;
        margin: 0 auto;
        overflow: visible;
    }

    .hero {
        height: 100vh;
        overflow: visible;
    }

    .graphicElement {
        left: 51%;
        z-index: 1000;
        height: 900px;
        width: 1100px;
    }

    .about h2 {
        font-weight: 900;
    }

    .content p {
        font-size: 33px;
    }

    .area h3 {
        font-size: 42px;
    }

    .machineLearning p {
        font-size: 23px;
    }




}