.testimonialSlider {
    margin-top: 5rem;
    background: rgb(251, 251, 251);
    height: 700px;
    /* border: 1px solid red; */
}

.container {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* gap: 2rem; */

}

.sideHeading {
    font-family: sans-serif !important;
    font-size: 12px;
    color: #737373;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1rem;
    /* letter-spacing: 0.05rem; */

}

.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    /* height: 1000px; */
}

.mainHeading {
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 3rem;
    color: #000;
    letter-spacing: 1px;

}

.navigation {
    display: flex;
    gap: 2rem;
}

.navButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}

.testimonial {
    font-size: 1.1rem;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
}


.testimonialContentContainer {
    width: 30%;
    padding-left: 8px;
    color: #000;
}

.testimonialContentContainer2 {
    color: #000;
    width: 80%;
    padding-left: 8px;
}

.testimonialContent {
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.testimonialContent2 {
    margin-bottom: 1rem;
    /* width: 20%; */
    font-size: 28px;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.3;
    /* letter-spacing: 0.05rem; */
}

.author {
    font-weight: bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    /* width: 20%; */
    text-transform: uppercase;

}

.position {
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    /* width: 20%; */
}

.company {
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    /* width: 20%; */
}


.videoContainer {
    position: relative;
    width: 67.5%;
    margin-bottom: 1rem;
}

.video {
    width: 100%;
    /* height: fit-content; */
    height: 380px;
    /* border: 1px solid blue; */
    object-fit: cover;
}

.videoControls {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.videoButton {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.videoAndContentContainer {
    display: flex;

}

.sliderArrow {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 200;
    transform: rotate(180deg);
    margin-left: 8px;
}

@media (max-width: 768px) {

    .testimonialSlider {
        height: 770px;
        margin-top: 3rem;

    }

    .container {
        grid-template-columns: 1fr;
    }

    .testimonial {
        font-size: 1.1rem;
        line-height: 1.6;
        /* display: none; */
        height: 380px;

    }

    .sideHeading {
        font-size: 12px;
        color: #737373;
        font-weight: 900;
        margin-bottom: 1rem;
    }

    .mainHeading {
        font-size: 30px;
        letter-spacing: normal;
        color: #000000;
    }

    .imageContainer {
        height: 200px;
    }

    .videoContainer {
        margin-bottom: 0.5rem;
    }

    .testimonialContentContainer2 {
        width: 100%;
        padding-left: 8px;
    }

    .testimonialContentContainer {
        width: 100%;
        padding-left: 8px;
    }

    .videoButton {
        border: 1px solid black;
    }

    .videoContainer {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;

    }

    .videoAndContentContainer {
        display: flex;
        flex-direction: column;

    }

    .testimonialContent2 {
        font-size: 18px;

    }

    .author {
        font-size: 13px;
        font-weight: 700;
        line-height: 1;
    }

    .position {
        font-size: 12px;
        font-weight: 700;
    }

    .company {
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
    }

    .video {
        height: max-content;
    }
}

@media (min-width: 1600px) {

    .videoContainer {
        width: 67.5%;
    }

}